.header {
  position: fixed;
  left: 0%;
  top: 0%;
  margin: 0%;
  padding: 0%;
  width: 100vw;
  height: 6vh;
  background-color: silver;
}

.link-bar {
  position: fixed;
  margin: 0%;
  margin-top: 1.5vh;
  margin-left: 2vw;
  width: 20vw;
}

.link-bar > a {
  text-decoration: none;
  color: black;
  padding: 0.3rem;
  background-color: white;
  border: 0.1rem solid black;
}

.search {
  display: flex;
  justify-content: end;
  column-gap: 1.5vw;
  margin-top: 2vh;
  margin-right: 4vw;
}